*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:grid;
    place-items:center;
    height:100vh;
}
.container{
    background:sienna;
    padding:20px;
    width:50%;
    height:300px;
}
.game-container{
    display :grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:90%;
    height:150px;
    margin:30px auto;
}
.title{
    color:antiquewhite;
    font-size:30px ;
    font-weight:600;
    letter-spacing:3px;
    text-transform:capitalize;
    text-align:center;
}
.btn{
    font-weight:600;
    font-size:2rem;
    outline:none;

}
.btn:hover{
    background:rgb(151, 144, 144);
    color:white;
}
.winner{
    margin:auto;
    text-align:center;
    text-transform:capitalize;
    letter-spacing: 2px;
    color:azure;
    font-size: 18px;
    height:3rem;
    font-weight:600;
}